<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add/Delete Details</title>
    <link rel="stylesheet" href="add-del.css">
</head>
<body>
    {{!-- {{users}} --}}
    <div id="header">
        <a href="/home">home></a>
    </div>

    
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Users:</h1>
    <ul id="userlist">
        {{#each users as |u|}}
        <li>{{u.username}}</li>
        {{/each}}
    </ul>
    

    <p id="details" style="display: none"></p>


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="adddel.js"></script>
</body>
</html>