<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New ID</title>
  <link rel="stylesheet" href="login.css">
  <style>
    #header{
      background-color: azure;
      padding: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      box-shadow: 2px 2px 2px 2px rgb(49, 49, 49);
    }
  </style>
</head>
<body>

  <div id="header">
    <a href="/home">home></a>
  </div>

  <div id="container">
  <h1>Enter Login details for:</h1>
  <h3>New Admin <span>🔽</span></h3>

  <form style="display: none" action="/signup" method="POST">
    <input name="username" placeholder="fullname">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Sign Up</button>
  </form>
  <hr>
  <h3>New User <span>🔽</span></h3>

  <form action="/signup" method="POST">
    <input name="username" placeholder="fullname">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Sign Up</button>
  </form>
  </div>


  <script>
    let headings=document.getElementsByTagName('span')
    let forms=document.getElementsByTagName('form')
    let acount=0
    let ucount=0
    headings[0].addEventListener('click', ()=>{
      if(acount%2 == 0)
        forms[0].style.display='block'
      else
        forms[0].style.display='none'
      acount++
    })
    headings[1].addEventListener('click', ()=>{
      if(ucount%2 == 0)
        forms[1].style.display='none'
      else
        forms[1].style.display='block'
      ucount++
    })
  </script>
</body>
</html>