body{
    background: linear-gradient(99deg, rgba(188, 188, 188, 0.02) 0%, rgba(188, 188, 188, 0.02) 12.5%,rgba(86, 86, 86, 0.02) 12.5%, rgba(86, 86, 86, 0.02) 25%,rgba(221, 221, 221, 0.02) 25%, rgba(221, 221, 221, 0.02) 37.5%,rgba(159, 159, 159, 0.02) 37.5%, rgba(159, 159, 159, 0.02) 50%,rgba(159, 159, 159, 0.02) 50%, rgba(159, 159, 159, 0.02) 62.5%,rgba(86, 86, 86, 0.02) 62.5%, rgba(86, 86, 86, 0.02) 75%,rgba(241, 241, 241, 0.02) 75%, rgba(241, 241, 241, 0.02) 87.5%,rgba(46, 46, 46, 0.02) 87.5%, rgba(46, 46, 46, 0.02) 100%),linear-gradient(285deg, rgba(179, 179, 179, 0.02) 0%, rgba(179, 179, 179, 0.02) 25%,rgba(69, 69, 69, 0.02) 25%, rgba(69, 69, 69, 0.02) 50%,rgba(76, 76, 76, 0.02) 50%, rgba(76, 76, 76, 0.02) 75%,rgba(199, 199, 199, 0.02) 75%, rgba(199, 199, 199, 0.02) 100%),linear-gradient(76deg, rgba(143, 143, 143, 0.01) 0%, rgba(143, 143, 143, 0.01) 12.5%,rgba(116, 116, 116, 0.01) 12.5%, rgba(116, 116, 116, 0.01) 25%,rgba(118, 118, 118, 0.01) 25%, rgba(118, 118, 118, 0.01) 37.5%,rgba(183, 183, 183, 0.01) 37.5%, rgba(183, 183, 183, 0.01) 50%,rgba(196, 196, 196, 0.01) 50%, rgba(196, 196, 196, 0.01) 62.5%,rgba(235, 235, 235, 0.01) 62.5%, rgba(235, 235, 235, 0.01) 75%,rgba(194, 194, 194, 0.01) 75%, rgba(194, 194, 194, 0.01) 87.5%,rgba(86, 86, 86, 0.01) 87.5%, rgba(86, 86, 86, 0.01) 100%),linear-gradient(28deg, rgba(238, 238, 238, 0.03) 0%, rgba(238, 238, 238, 0.03) 16.667%,rgba(243, 243, 243, 0.03) 16.667%, rgba(243, 243, 243, 0.03) 33.334%,rgba(201, 201, 201, 0.03) 33.334%, rgba(201, 201, 201, 0.03) 50.001000000000005%,rgba(129, 129, 129, 0.03) 50.001%, rgba(129, 129, 129, 0.03) 66.668%,rgba(40, 40, 40, 0.03) 66.668%, rgba(40, 40, 40, 0.03) 83.33500000000001%,rgba(97, 97, 97, 0.03) 83.335%, rgba(97, 97, 97, 0.03) 100.002%),linear-gradient(290deg, rgba(241, 241, 241, 0.02) 0%, rgba(241, 241, 241, 0.02) 20%,rgba(86, 86, 86, 0.02) 20%, rgba(86, 86, 86, 0.02) 40%,rgba(128, 128, 128, 0.02) 40%, rgba(128, 128, 128, 0.02) 60%,rgba(83, 83, 83, 0.02) 60%, rgba(83, 83, 83, 0.02) 80%,rgba(81, 81, 81, 0.02) 80%, rgba(81, 81, 81, 0.02) 100%),linear-gradient(0deg, rgba(159, 159, 159, 0.01) 0%, rgba(159, 159, 159, 0.01) 12.5%,rgba(131, 131, 131, 0.01) 12.5%, rgba(131, 131, 131, 0.01) 25%,rgba(249, 249, 249, 0.01) 25%, rgba(249, 249, 249, 0.01) 37.5%,rgba(156, 156, 156, 0.01) 37.5%, rgba(156, 156, 156, 0.01) 50%,rgba(145, 145, 145, 0.01) 50%, rgba(145, 145, 145, 0.01) 62.5%,rgba(149, 149, 149, 0.01) 62.5%, rgba(149, 149, 149, 0.01) 75%,rgba(144, 144, 144, 0.01) 75%, rgba(144, 144, 144, 0.01) 87.5%,rgba(170, 170, 170, 0.01) 87.5%, rgba(170, 170, 170, 0.01) 100%),linear-gradient(195deg, rgba(109, 109, 109, 0.03) 0%, rgba(109, 109, 109, 0.03) 12.5%,rgba(254, 254, 254, 0.03) 12.5%, rgba(254, 254, 254, 0.03) 25%,rgba(121, 121, 121, 0.03) 25%, rgba(121, 121, 121, 0.03) 37.5%,rgba(221, 221, 221, 0.03) 37.5%, rgba(221, 221, 221, 0.03) 50%,rgba(229, 229, 229, 0.03) 50%, rgba(229, 229, 229, 0.03) 62.5%,rgba(225, 225, 225, 0.03) 62.5%, rgba(225, 225, 225, 0.03) 75%,rgba(79, 79, 79, 0.03) 75%, rgba(79, 79, 79, 0.03) 87.5%,rgba(200, 200, 200, 0.03) 87.5%, rgba(200, 200, 200, 0.03) 100%),linear-gradient(318deg, rgba(177, 177, 177, 0.02) 0%, rgba(177, 177, 177, 0.02) 25%,rgba(83, 83, 83, 0.02) 25%, rgba(83, 83, 83, 0.02) 50%,rgba(184, 184, 184, 0.02) 50%, rgba(184, 184, 184, 0.02) 75%,rgba(191, 191, 191, 0.02) 75%, rgba(191, 191, 191, 0.02) 100%),linear-gradient(90deg, rgb(45, 133, 170),rgb(198, 199, 93));
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    width: max-content;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

#details{
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 40%;
    min-width: 20%;
    margin: 20px auto;
    position: relative;
}

#details>h1{
    text-align: center;
}

form{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: max-content;
    min-width: 20%;
    margin: 0 auto;
    font-size: 1.5em;
}

th{
    padding-right: 30px;
}

input, textarea, select{
    max-width: 150px;
    padding: 5px;
}

button{
    width: max-content;
    font-size: 1.5em;
    margin: 5px;
    background-color: rgb(0, 0, 153);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: azure;
}
button:hover{
    background-color: blueviolet;
}

#header{
    background-color: azure;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 2px rgb(49, 49, 49);
}